<div class="dwm-tracker-container">
{{#each data}}
    <fieldset class="input-grid" data-user-id="{{ @key }}">
        <legend>{{@key}}</legend>
        {{#each dice}}
            <div class="dwm-result" data-die-id="{{@key}}"></div>
        {{/each}}
    </fieldset>
{{/each}}
</div>