<section class="flexcol standard-form">
    <button type="button" class="roll" data-action="spawnDice"{{#if rollDisabled}}disabled{{/if}}>{{ localize "DWM.APPLICATION.DWMResolver.StartRoll" }}</button>
</section>
