<div class="dwm-tracker-container">
{{!--
{{#each data}}
    <fieldset class="input-grid" data-user-id="{{ @key }}">
        <legend>{{@key}}</legend>
        {{#each dice}}
            <dwm-die-tracker class="dwm-result" data-die-id="{{@key}}"></dwm-die-tracker>
        {{/each}}
    </fieldset>
{{/each}}
--}}
</div>